/* COMPONENTES / CLASSES: */

/* GRID LAYOUT */
.grid {
    width: 100%;
    max-width: 1136px;
    
    margin: 0 auto;
}
/* GRID LAYOUT */


/* typograph */
h1, h2, a, p, span {
    line-height: 120%;
}
h1, h2 {
    letter-spacing: 0px;
}
h2 {
    font-size: 3.2rem;
}
a {
    font-size: 1.6rem;
    font-weight: 500;
}
p {
    letter-spacing: .5px;
}

.contato-link {
    font-weight: 700;
}
/* typograph */



header {
    /* position: fixed; */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 0 1.5rem;
    height: 6.5rem;
    display: flex;

    background-color: #171717ad;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 7px 3px #171717b9;

    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a.nav-logo {
            display: flex;
            align-items: center;
            gap: .8rem;
            font-weight: 700;

            img {
                max-width: 2.4rem;
            }
        }

        ul.nav-links {
            display: flex;
            gap: 3.2rem;

            li a {
                position: relative;
                /* text-decoration: underline; */
                /* border-bottom: 1px solid var(--color-primary); */

                /* display: flex;
                align-items: center;
                gap: .2rem; */

                transition: all .3s ease;

                /* &:hover {
                    transform: scale(1.05);
                } */
                &:hover::after {
                    width: 100%;
                }
                &::after {
                    content: '';
                    position: absolute;
                    background: linear-gradient(0deg, #00ff95 20%, #1e87dd 100%);
                    width: 0;
                    height: 2px;
                    left: 0;
                    bottom: -3px;

                    transition: all .3s ease-in-out;
                }

                transition: all .3s ease-in-out;

                &:hover {
                    color: #fff;
                }
            }
        }

        .btn-mobile {
            display: none;
            background-color: transparent;
            line-height: 0;

            label i {
                font-size: 2.5rem;
                color: #fff;
            }
        }

        #toggle {
            display: none;
        }
    }

    /* Responsibidade */
    /* tablet */
    @media (max-width: 768px) {
        height: 56px;

        .nav {
            ul.nav-links {
                /* display: none; */
                background-color: #171717f6;
                padding: calc(50px + 56px) 15px 50px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                width: 100%;

                flex-direction: column;
                gap: 4.5rem;
                transform: translateY(-100%);

                transition: transform .4s ease-in-out;

                text-align: center;

                li a {
                    text-transform: uppercase;
                }
            }

            .btn-mobile {
                display: inline-block;

                label {
                    cursor: pointer;

                    .bi-list {
                        display: inline-block;
                    }
                    .bi-x {
                        display: none;
                    }
                }
            }

            &:has(#toggle:checked) {
                ul.nav-links {
                    transform: translateY(0%);
                }

                .btn-mobile {
    
                    label {

                        .bi-list {
                            display: none;
                        }
                        .bi-x {
                            display: inline-block;
                        }
                    }
                }
            } 
        }
    }

    /* celular */
    @media (max-width: 420px) {
        .nav {
            ul.nav-links {
                .contato-link {
                    font-weight: 400;
                }
            }
        }
    }
}


main {
    
    section#hero {
        padding: 5rem 1.5rem 4rem 1.5rem;
        /* height: calc(100dvh - 10rem); */
        position: relative;
        background: linear-gradient(to left, #02f6990e 10%,#171717 50%), url(../assets/bg-hero.png);
        background-repeat: no-repeat;
        background-size: contain 100%;
        /* background-position: 150% 20%; */
        background-position: right 20%;
        /* background-position: 120% center; */
        
        
        .grid {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .hero-text {
            max-width: 65rem;
            display: flex;
            flex-direction: column;
            gap: 2.4rem;

            .text-degrade {
                color: #00ff95;
                background: -webkit-linear-gradient(65deg, #00ff95 10%, #1e87dd 120%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                
                /* color: #1e87dd; 
                background-image: 
                -webkit-linear-gradient(45deg, #1e87dd 0%, #00ff95 50%); 
                background-clip: text; -webkit-background-clip: text; 
                text-fill-color: transparent; 
                -webkit-text-fill-color: transparent; */
            }
            p {
                font-size: 2.2rem;

                span {
                    font-size: 3rem;
                }
            }

            .titulo-hero {
                font-size: 5.2rem;

                span {
                    font-size: 4rem;
                    font-weight: 500;
                }
            }
            
            .subtitulo-redes {
                width: 95rem;
                display: flex;
                justify-content: space-between;

                .subtitulo-hero {
                    max-width: 65rem;
                    font-size: 2.2rem;
                    font-weight: 400;
                }

                .redes-hero {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 2rem 1.5rem;

                    margin: 0 0 4rem 0;
                    
                    .link-rede {
                        position: relative;
                        background: linear-gradient(#000000af, #000) padding-box, linear-gradient(to right, #00ff95, #1e87dd) border-box;
                        border: 2px solid transparent;
                        border-radius: 5px;
                        padding: .7rem 2rem;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: .5rem;

                        font-weight: 600;

                        transition: all .4s ease-in-out;
                        &::before {
                            content: "";
                            z-index: -1;
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            background: linear-gradient(0deg, #00ff95 0%, #1e87dd 100%);
                            transform: translate3d(0px, 0px, 0) scale(0.0);
                            filter: blur(20px);
                            opacity: 0.7;
                            transition: all .4s ease;
                        }
        
                        &:hover {
                            filter: brightness(1.1);
                            &::before {
                                transform: translate3d(0px, 0px, 0) scale(1);
                            }
                        }

                        &:last-child {
                            grid-column:  1 / -1;
                            background: linear-gradient(to right, #00ff95, #1e87dd) border-box;
                            color: var(--color-bg-main);

                            font-weight: 700;

                            i {
                                font-size: 2rem;
                            }
                        }
                    }
                }

                @media (max-width: 981px) {
                    flex-direction: column;
                    width: 100%;

                    .redes-hero {
                        margin: 5rem 0;
                    }
                }
            }
        }

        .hero-ilustra {
            /* position: absolute;
            height: 100%;
            right: -30%;
            z-index: -5;
            
            opacity: .5; */
        }
        /* .hero-ilustra {
            width: 100%;
            min-width: 15rem;
            max-width: 36.8rem;
            height: 36.8rem;
            transition: all .4s ease;

            img {
                max-width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        } */
        .about-more {
            position: absolute;
            z-index: 5;
            bottom: -18px;
            left: 50%;
            /* transform: translateX(-50%); */

            display: flex;
            flex-direction: column;
            align-items: center;

            ion-icon {
                font-size: 3.5rem;
            }
        }

        /* Responsivo */
        /* tablet */
        @media (max-width: 768px) {
            .grid {
                gap: 1rem;
                justify-content: center;
            }

            .hero-text {
                text-align: center;
                max-width: 52.4rem;
                gap: 2.5rem;

                .titulo-hero {
                    font-size: 25px;
                }
                p, .subtitulo-redes > .subtitulo-hero {
                    font-size: 1.6rem;
                }
                p > span, .titulo-hero > span {
                    font-size: 2rem;
                }
                .titulo-hero > span {
                    display: block;
                }
            }

            /* .hero-ilustra { */
                /* min-width: 14.6rem;
                max-width: 20rem;
                height: 14.6rem; */
    
                /* img {
                    max-width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                } */
            /* } */
        }

        /* celular */
        @media (max-width: 420px) {
            /* .grid {
                flex-direction: column;
                gap: 1rem;
            } */

            .hero-text {
                gap: 40px;
            }

        }
    }

    section.about {
        background-color: var(--color-bg-secundary);
        filter: drop-shadow(0 0 7px var(--color-bg-secundary));
        padding: 5.6rem 1.5rem;

        h2 {
            font-size: 3.2rem;
            /* font-weight: 700; */
            margin-bottom: 1.6rem;
        }

        .content-sobre {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 2.5rem;

            .texto-sobre {
                max-width: 75.1rem;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                a {
                    text-decoration: underline;
                    font-weight: 700;
                }
            }

            .imagem-sobre {
                max-width: 30rem;
                border-radius: 42%;
            }
        }
        


        /* Responsivo */
        /* tablet */
        @media (max-width: 768px) {
            padding: 3.2rem 1.5rem;

            h2 {
                font-size: 22px;
                margin-bottom: 2rem;
            }

            /* .texto-sobre {
                font-size: 14px;
            } */
        }
        @media (max-width: 700px) {
            .content-sobre {
                flex-direction: column-reverse;
                gap: 1.5rem;

                .imagem-sobre {
                    max-width: 25rem;
                }
            }
            
        }


        /* celular */
        /* @media (max-width: 420px) {
            padding: 16px 1.5rem;
        } */
    }

    section.skills {
        padding: 3.2rem 1.5rem 4.5rem;

        h2 {
            text-align: center;
            margin-bottom: 3.2rem;
        }

        ul.cards-skills {
            display: flex;
            justify-content: center;
            gap: 1.6rem;
            flex-wrap: wrap;

            .card-item {
                background-color: var(--color-bg-secundary);
                width: 100%;
                max-width: 19rem;
                border-radius: 8px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                padding: 1.5rem;

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.5rem;

                transition: all .3s ease;

                &:hover {
                    transform: scale(1.05);
                }

                span {
                    font-size: 1.6rem;
                    font-weight: 700;
                }
            }
        }

        p {
            margin-top: 2rem;
        }

        /* Responsivo */
        /* tablet */
        @media (max-width: 768px) {
            h2 {
                font-size: 22px;
            }
        }

        /* celular */
        @media (max-width: 420px) {
            padding: 3.2rem 1.5rem;

            ul.cards-skills {    
                .card-item {
                    max-width: 150px;
                }
            }
        }
    }

    section#projects {
        /* background-color: var(--color-bg-secundary); */
        padding: 3.2rem 1.5rem 4.5rem;

        h2 {
            text-align: center;
            margin-bottom: 3.2rem;
        }

        .cards-projetos {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2.6rem 1.9rem;

            .projeto-item {
                background-color: var(--color-bg-secundary);
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                border-radius: 8px;
                padding: 1.5rem;

                .previa-projeto {
                    background-color: #F5F5F5;
                    border-radius: 5px;

                    height: 22rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    margin-bottom: 1.4rem;
                }

                .descricao-projeto {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    h3 {
                        font-size: 2.2rem;
                    }

                    .actions {
                        display: flex;
                        /* justify-content: flex-end; */
                        gap: 1.2rem;

                        a {
                            width: 100%;
                            padding: 1rem 2rem;
                            border: 2px solid var(--color-text);
                            border-radius: 5px;
                            font-weight: 600;
                            text-align: center;
                        }

                        .demo {
                            border: 2px solid var(--color-primary);
                            background-color: var(--color-primary);
                            color: #fff;
                        }
                    }
                }
            }
        }


        /* Responsivo */
        /* tablet */
        @media (max-width: 768px) {

            /* h2 {
                font-size: 22px;
            } */

            .cards-projetos {
                grid-template-columns: 1fr;
            }
        }

        /* celular */
        @media (max-width: 420px) {
            /* padding: 16px 1.5rem; */

        }
    }

}

@keyframes moveDown {
    0% {
        transform: translateX(-50%) translateY(-0.5rem);
    }
    50% {
        transform: translateX(-50%) translateY(0.2rem);
    }
    100% {
        transform: translateX(-50%) translateY(-0.5rem);
    }
}
.move-down {
    animation: moveDown 3s linear infinite;
}