:root {
    --color-primary: #47B36A;
    --color-secundary: #335BC9;
    --color-text: #F5F5F5;
    --color-bg-main: #171717;
    --color-bg-secundary: #2b2a2a;

    --font-main: "Raleway";
    --font-headers: 'Krona One';

    /* color-scheme: light dark;
    font-synthesis: none; */
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
    
img {
    display: inline-block;
    width: 100%;
    max-width: fit-content;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

input, textarea, select {
    outline: none;
}

ul, ol, li {
    list-style: none;
}

button {
    cursor: pointer;
    display: inline-block;
}
/* RESET */


/* GLOBAL */
html {
    scroll-behavior: smooth;
    
    font-size: 62.5%; /* Pra usar rem divisivel por 10 */
    @media (max-width: 420px) {
        font-size: 55%;
    }
}
  
body {
    /* min-height: 100vh;
    min-height: 100dvh; */

    background-color: var(--color-bg-main);

    font-size: 1.6rem; /* Pra garantir q o padrao seja 16px no navegador*/
    -webkit-font-smoothing: antialiased;
    color: var(--color-text);
}
body, input, textarea, button, select, a {
    font-family: var(--font-main), sans-serif;
}

[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
}
/* GLOBAL */